
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

main > .container {
    margin-top: 80px;
    padding: 0px;
    background-color: $white
}

body {
    background-color: $body-bg
}

.page-item {
    background-color: $green;
}
